:root{
    --transitio: all 0.3s ease;
}

/* common for all start*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    outline:none;
    font-weight: 400;
}
html{
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    background-color: #fafafa;
    scroll-behavior: smooth;
}

body{
    background-color: #fafafa;
    width: 100rem;
    margin: auto;
    max-width: 100%;
    box-shadow: 0.1rem 0.1rem 0.1rem #c4c4c4cc,
    -0.1rem -0.1rem 0.1rem #c4c4c4cc;
}
.btn{
    background-color: rgb(206, 176, 95);
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0.1rem 0.1rem 0.1rem #c4c4c4cc,
    -0.1rem -0.1rem 0.1rem #c4c4c4cc;
    letter-spacing: 0.1rem;
}
.section-heading{
    font-size: 6rem;
    text-align: center;
    font-family: "Italianno", cursive;
    text-shadow: 0.1rem 0.1rem 0.1rem #c4c4c4cc,
    -0.1rem -0.1rem 0.1rem #c4c4c4cc;
}
.section-centre{
    display: flex;
    min-height: 70vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
/* common for all end */

/* header start here */


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.5rem;
    background-color: black;
    box-shadow: 0.1rem 0.1rem 0.1rem #c4c4c4cc,
    -0.1rem -0.1rem 0.1rem #c4c4c4cc;
    color: white;
    position: sticky;
    top: 0;
    z-index: 10;
    min-height: 5vh;
}
.logo__figutre{
    border: 1px solid white;
}
.logo{
    font-size: 5rem;
}

#log{
    display: none;
}
nav ul{
    display: flex;
    gap: 2rem;
    font-size: 2rem;
}
nav ul li{
    padding: 1rem;
    transition: var(--transitio);
}
nav ul li:hover{
    background-color: #5c636e;
    color: black;
    box-shadow: 0.1rem 0.1rem 0.1rem #c4c4c4cc,
    -0.1rem -0.1rem 0.1rem #c4c4c4cc;
    border-radius: 0.6rem;
}

.nav__icon{
    font-size: 2rem;
    cursor: pointer;
    color: #fafafa;
}

.text-justify{
    text-align: justify;
}
.text-white{
    color: white;
}
/* header end here */


/* banner section start */
.banner{
    padding: 5 rem 1 rem;
    display: flex;
    gap: 3rem;
    align-items: center;
    min-height: 95vh;
    justify-content: center;
}
.banner article{
    flex-basis: 50%;
    margin : 1rem;

}
.banner aside{
    flex-basis: 50%;
    text-align: center;
}
.banner__img{
    width: 55rem;
    height: 55rem;
    border: 0.5 px solid ;
}
.banner__heading{
    display: inline-block;
    padding: 1rem;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    background-color: black;
    color: white;
    box-shadow: 0.1rem 0.1rem 0.1rem #c4c4c4cc,
    -0.1rem -0.1rem 0.1rem #c4c4c4cc;
    font-weight: bold;
}
.banner__para{
    font-size: 1.6rem;
}
/* banner section end */

/* about me section start here */
#blog-about{
    background-color: #4c4c4c ;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.card{
    flex: 1;
    border-radius: 0.6rem;
    background-color: #888585;
    padding: 3rem;
    box-shadow: 0.1rem 0.1rem 0.1rem #c4c4c4cc,
    -0.1rem -0.1rem 0.1rem #c4c4c4cc;
    margin: 2.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    transition: var(--transitio);
}
.card:hover{
    transform: scale(1.1);
}
.card__heading{
    font-size: 2.5rem;
    font-weight: bold;
}
.card__para{
    padding: 0,4rem 0;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 0.5rem;

}
.card__btn{
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 0.6rem;
    box-shadow: 0.1rem 0.1rem 0.1rem #c4c4c4cc,
    -0.1rem -0.1rem 0.1rem #c4c4c4cc;
    transition: var(--transitio);
}
.card__btn:hover{
    transform: scale(1.1);
}
/* about me section end here */

/* archieve section start here */
.archieve-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    border-top: 0.1rem solid #c4c4c4cc;
    border-bottom: 0.1rem solid #c4c4c4cc;
    
}
.archieve-container__lists{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.archieve-container__img{
    width: 100%;
    height: 100%;
    border-radius: 0.6rem;
    transition: var(--transitio);
}
.archieve-container__img:hover{
    transform: scale(1.1);
}
/* archieve section end here */


/* blog post start from here */

.blog-post{
    display: flex;
    gap: 2rem;
    padding: 2rem;
    border-bottom: 0.1rem solid #c4c4c4cc;
    width: 70%;
    margin: 1rem 0;
    box-shadow: 0.1rem 0.1rem 0.1rem #c4c4c4cc, -0.1rem -0.1rem 0.1rem #c4c4c4cc;
    transition: all 0.3s ease;
}

.blog-post:hover{
    transform: scale(1.1);
}
.blog-post__aside{
    flex: 1;}
.blog-post__content{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1rem;
}
.blog-post__heading{
    margin-bottom: 1rem;
    font-size: 2.5rem;
}
.blog-post_sub-heading{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.blog-post__para{
    font-size: 1.6rem;
    text-align: justify;
}
.blog-post__btn{
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 0.6rem;
    box-shadow: 0.1rem 0.1rem 0.1rem #c4c4c4cc, -0.1rem -0.1rem 0.1rem #c4c4c4cc;
    transition: all 0.3s ease;
}
.blog-post__btn:hover{
    transform: scale(1.1);
}
.blog-posts{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog-posts{
    gap: 2rem;
}
/* blog post end from here */

/* form start from here */
#contact-section{
    background-color: #4c4c4c;
    min-height: 95VH;
    gap: 2rem;
}
.form-control{
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-control label{
    font-size: 1.6rem;
    flex: 0.3;
    color: #fafafa;
}
.form-control input,textarea{
    flex: 0.7;
    width: 40rem;
    padding: 2rem 1 rem;
    border: none;
    border-radius: 0.6rem;
}
input{
    width: 40rem;
    height: 6rem;
}
textarea{
    resize: none;
    height: 12vh;
}

.form-btn-feild{
    display: flex;
    justify-content: end;
}
.contact__btn{
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 0.6rem;
    box-shadow: 0.1rem 0.1rem 0.1rem #c4c4c4cc, -0.1rem -0.1rem 0.1rem #c4c4c4cc;
    transition: all 0.3s ease;
}
form{
    box-shadow: 0.1rem 0.1rem 0.1rem #c4c4c4cc, -0.1rem -0.1rem 0.1rem #c4c4c4cc;
    border-radius: 0.6rem;
    padding: 2rem;
    width: 40rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* from end here */

/* footer start from here */

.footer{
    background-color: #222;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.5rem;
    box-shadow: 0.1rem 0.1rem 0.1rem #c4c4c4cc,
    -0.1rem -0.1rem 0.1rem #c4c4c4cc;
    min-height: 5vh;
}
.copyright_text{
    font-size: 1.6rem;
}
.footer__link{
    color: white;
    transition: var(--transitio);
}
.footer__link:hover{
    color: rgb(224, 132, 10);
    transform: scale(1.1);
}
.footer__nav{
    display: flex;
    gap: 2rem;
    font-size: 2rem
}
/* footer end here */

/* responsiveness start */
@media screen and (max-width: 992px ) {
    .banner{
        flex-direction: column;
    }
    .banner article{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4rem;
    }
}

@media screen and (max-width: 768px ) {
    html{
        font-size: 55.5%;}
    .banner article{
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 4rem;
            margin-top: none;
        }
    .banner{
        min-height: auto;
    }

    .cards{
        width: 80%;
        flex-direction: column;}
    #achieve{
        min-height: auto;
    }
    .archieve-container__lists{
        gap: 1rem;
        flex-direction: column;
        max-width: 90%;
    }
    .blog-post{
        width: 80%;
        flex-direction: column;
        margin: 1rem 0;
    }
    #contact-section{
        min-height: auto;
    }

}

@media screen and (max-width: 600px ) {
    html{
        font-size: 48.5%;
    }
    nav ul{
        flex-direction: column;
        text-align: center;
    }
    header{
        flex-direction: column;
    }
    .banner{
        min-height: auto;
}
.banner article{
    width: 90%;}
.banner img{
    max-width: 100%;
}
.cards{
    width: 90%;
}
#blog-about{
    min-height: auto;
}
.archieve-container__lists{
    flex-wrap: wrap;
    gap: 1rem;
    flex-direction: column;
    max-width: 90%;
}
.blog-post{
    width: 90%;
    flex-direction: column;
    margin: 1rem 0;
}
form{
    width: 90%;
}
.form-control{
    flex-direction: column;
}
.footer{
    flex-direction: column;
    text-align: center;
}
#log{
    display: block;
    margin: 2rem 0;
}
.hidden{
    display: none;
}
}
/* responsiveness end */